// Enter any custom Sass in this file.
#goal-18 {
    box-shadow: 5px 5px 5px 0px $goalTiles-tile-shadowColor;
    &:hover{
      box-shadow: 5px 5px 5px 0px $goalTiles-tile-shadowColor-hover;
    }
}

.site-intro {
    h1 {
        color: #999999;
    }
}

.language-km {
    font-family: 'Khmer', 'Open Sans', Helvetica, Arial, sans-serif;
}
